/* trabalho de biologia - css */

/* seletor universal */
* {
    line-height: 1.5; /* line-height adicionado */
}

body {
    background-color: #F9ECE5; /* cor por HEX */
    margin: 20px;
}

/* titulos em bebas neue e cor vinho */
h1, h2, h3, legend {
    font-family: 'Bebas Neue', sans-serif; /* font-family */
    color: marooon; /* cor por NOME */
    font-weight: 700; /* font-weight adicionado */
}

h1 {
    font-size: 38px; /* font-size */
    margin-bottom: 0;
}

h2 {
    font-size: 26px;
    margin-top: 18px;
}

h3 {
    font-size: 20px;
}

/* frases e textos na fonte cardo */
p, label, input, select, textarea, button, summary, details, mark, option {
    font-family: 'Cardo', serif;
    color: rgba(0, 0, 0, 0.9); /* cor por RGBA */
    font-size: 15px;
    font-weight: 400; /* font-weight */
}

.subtitulo {
    font-style: italic;
    color: rgb(104, 21, 10); /* cor por RGB */
    margin-top: 5px;
    margin-bottom: 15px;
}

a {
    color: #68150A;
}

img {
    border: 1px solid black;
    max-width: 100%;
}

fieldset {
    border: 1px solid gray;
    margin-bottom: 15px;
    padding: 10px;
}

mark {
    background-color: yellow; /* cor por NOME */
    color: black;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}