/* estilo do trabalho de biologia */

body {
    background-color: #F9ECE5;
    margin: 20px;
}

/* Todos os titulos e legendas usam Bebas Neue e cor vinho */
h1, h2, h3, legend {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    color: #68150A;
    letter-spacing: 1px;
}

h1 {
    font-size: 40px;
    margin-bottom: 0px;
}

h2 {
    font-size: 28px;
    margin-top: 20px;
}

h3 {
    font-size: 22px;
}

/* Todos os textos, paragrafos e formulario usam a fonte Cardo */
p, label, input, select, textarea, button, summary, details, mark, option {
    font-family: 'Cardo', serif;
    font-weight: 400;
    color: black;
    font-size: 16px;
}

/* Subtitulo especifico abaixo do h1 */
#subtitulo-saiba-mais {
    font-style: italic;
    color: #68150A;
    margin-top: 5px;
    margin-bottom: 15px;
}

#link-fonte {
    color: #68150A;
    text-decoration: underline;
    font-family: 'Cardo', serif;
}

#foto-virus {
    border: 1px solid black;
    max-width: 100%;
}

fieldset {
    border: 1px solid gray;
    margin-bottom: 15px;
    padding: 10px;
}

mark {
    background-color: yellow;
    color: black;
}

#btn-enviar {
    padding: 5px;
    cursor: pointer;
    background-color: #e0e0e0;
    border: 1px solid #767676;
    color: black;
}